.forgot_password_container {
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forgot_password_container form {
    width: fit-content;
    max-width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.forgot_password_container label {
    outline: none;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.forgot_password_container input {
    padding: 10px;
    outline: none;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    width: 400px;
    max-width: 95%;
    margin-bottom: 30px;
}

.forgot_password_reset_btn {
    padding: 15px !important;
    background-color: #ebb845;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
}